.tableItem {
  display: flex;
  text-align: center;
  align-items: center;
  margin: 10px 0;
  border-bottom: 1px solid #e9ecef;
  padding-bottom: 10px;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btns button {
  margin: 0 auto;
}
