.app {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  min-height: 100vh;
  column-gap: 30px;
  column-gap: 30px;
}

.app div {
  flex-basis: 50%;
}

.loading {
  display: flex;
  align-items: center;
  gap: 20px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  column-gap: 5px;
  font-weight: 600;
  color: #b08968;
}
