.btn {
  border: none;
  height: 35px;
  max-width: 150px;
  width: 100%;
  border-radius: 7px;
  color: #f8f9fa;
  transition: 0.3s all;
  cursor: pointer;
  text-transform: capitalize;
  background: none;
}

.addBtn {
  background-color: #386641;
}
.addBtn:hover {
  background-color: #4c7554;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.deleteBtn {
  color: #bc4749;
  font-weight: 600;
  height: 20px;
}
.deleteBtn:hover {
  transform: scale(1.1);
}

.createBtn {
  background-color: #f2e8cf;
}
.createBtn:hover {
  background-color: #f3ead4;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.updateBtn {
  color: #00afb9;
  font-weight: 600;
  height: 20px;
}
.updateBtn:hover {
  transform: scale(1.1);
}
